@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
a{
  text-decoration: none;
  color: black;
width: fit-content;
}
.page {
  /* background-color: rgb(163, 137, 255); */
  height: fit-content;
}

:root {
  --step--7: clamp(0.2621rem, 0.332rem + -0.0901vi, 0.314rem);
  --step--6: clamp(0.3277rem, 0.3938rem + -0.0854vi, 0.3768rem);
  --step--5: clamp(0.4096rem, 0.4669rem + -0.0739vi, 0.4521rem);
  --step--4: clamp(0.512rem, 0.5532rem + -0.0531vi, 0.5425rem);
  --step--3: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --step-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --step-7: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
  --step-8: clamp(4.8373rem, 3.9283rem + 4.5448vi, 7.4506rem);
  --step-9: clamp(5.8048rem, 4.5844rem + 6.1017vi, 9.3132rem);
  --step-10: clamp(6.9657rem, 5.3393rem + 8.1319vi, 11.6415rem);

  --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vi, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vi, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vi, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vi, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vi, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vi, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vi, 7.5rem);
  --space-3xl-4xl: clamp(6.75rem, -9.163rem + 79.5652vi, 52.5rem);
  --space-4xl-5xl: clamp(47.25rem, 41.9457rem + 26.5217vi, 62.5rem);
  --space-5xl-6xl: clamp(56.25rem, 54.0761rem + 10.8696vi, 62.5rem);
}


.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  cursor: pointer;
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid transparent;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  border-radius: 5px;
}
